<div class="login">
  <div class="form1">

<form [formGroup]="Formvalue">
  <label  class="signup">login</label>
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input type="text" formControlName="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email ID</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
    </div>
    <p class="change">Not a member?</p><p class="change1"><a (click)="submit2()">signup</a></p>
    <button type="submit" (click)=" login()" class="btn btn-primary">Submit</button>
       
  </form>
</div>
 </div>
