<nav class="navbar navbar-expand-lg navbar-light" id="myNavbar">
    <img src="https://www.pngkey.com/png/full/288-2881874_how-to-set-use-fire-leaf-clipart-fire.png" alt="" class="logo">
    <a class="navbar-brand" href="#">EmployeeID</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="myFunc()"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/notifications" id="change-color">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/notifications' id="change-color">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/notifications" id="change-color">Services</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" routerLink="/notifications" id="change-color">Help Center</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/notifications" id="change-color">contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="change-color" routerLink="/signup">signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  id="change-color" routerLink="/login">login</a>
            </li>
            <!-- <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user user"></i>

                </a>
                <div class="dropdown-menu d-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item ">Settings</a>
                    <a class="dropdown-item" routerLink="/signup">SignUp</a>
                    <a class="dropdown-item" href="#">login</a>
                </div>
            </li> -->

        </ul>
    </div>
</nav>
<div>
    
</div>
<router-outlet></router-outlet>
 <!-- <div class="body-img">
   
 </div> -->


